<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <!-- <app-alert></app-alert> -->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Appointment List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Appointment List</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- {{usersAr | json}} -->
    <!-- {{userData | json }} -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->

            </div>
            <div class="row">
                <div class="col-4 offset-1">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Choose Date </h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="date" #appointmentDate class="form-control" data-date-inline-picker="true" />
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <button type="button" (click)="onSearchAppointment(appointmentDate)" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"> <i class="far fa-calendar-alt"></i> </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Count</span>
                            <span class="info-box-number">
                            {{ appointmentCountData }}
                            <!-- <small>%</small> -->
                          </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Get all the Appointment details</h3>
                            <div class="box-tools">
                                <button type="button" class="btn btn-primary pull-right" (click)="rerender()">
                                    <i class="fa fa-refresh"></i> Rerender
                                </button>
                            </div>
                        </div>


                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                        <tr>
                                            <!-- <th>#</th> -->
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Start Time</th>
                                            <th>Session</th>
                                            <th>Date</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr *ngFor="let rowData of userData | keyvalue; let i = index;">
                                            <td><img src="assets/img/profile/{{ i + 1 }}.jpg" style="height: 40px"></td>
                                            <td>{{ rowData.value.name }}</td>
                                            <td>{{ rowData.value.contact }}</td>
                                            <td>{{ rowData.value.startTime }}</td>
                                            <td>{{ rowData.value.slotEvent }}</td>
                                            <td>{{ rowData.value.appointmentDate }}</td>
                                        </tr>
                                    </tbody>
                                    <!-- <tbody *ngIf="!userData?.length > 0">
                                        <tr>
                                            <td colspan="3" class="no-data-available">No data!</td>
                                        </tr>
                                    </tbody> -->
                                    <tfoot>
                                        <tr>
                                            <th style="width:10%"></th>
                                            <th style="width:10%"><input type="text" class="form-control" autocomplete="off" placeholder="Search Name" name="search-Name" /></th>
                                            <th style="width:10%"><input type="text" class="form-control" autocomplete="off" placeholder="Search Contact" name="search-mail" />
                                            </th>
                                            <th style="width:10%"><input type="text" class="form-control" autocomplete="off" placeholder="Search time" name="search-time" />
                                            </th>
                                            <th style="width:10%"><input type="text" class="form-control" autocomplete="off" placeholder="Search event" name="search-event" />
                                            </th>
                                            <th style="width:10%"><input type="text" class="form-control" autocomplete="off" placeholder="Search Date" name="search-date" />
                                            </th>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Main content -->

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->