<div class="d-flex-all align-center space-between mb-3 pl-4 pr-4 border-bottom pb-4">
	<a href="javascript:void(0);" [routerLink]="['/messenger/chat-screen']" routerLinkActive="active" class="cursor-pointer text-center">
		<p class="fs-12  text-dark font-weight-bold border-dark border-bottom mb-0">All</p>
	</a>
	<a href="javascript:void(0);" [routerLink]="['/messenger/chat-people']" routerLinkActive="active" class="cursor-pointer text-center">
		<p class="fs-12 text-gray-2 mb-0">People</p>
	</a>
	<a href="javascript:void(0);" [routerLink]="['/messenger/chat-message']" routerLinkActive="active" class="cursor-pointer text-center">
		<p class="fs-12 text-gray-2 mb-0">Messages</p>
	</a>
	<a href="javascript:void(0);" [routerLink]="['/messenger/chat-group']" routerLinkActive="active" class="cursor-pointer text-center">
		<p class="fs-12 text-gray-2 mb-0">Group</p>
	</a>
</div>

